html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #1e1e1e; /* cinza escuro, ou outra cor */
  color: #ffc107; /* amarelo para o texto */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
